// Container
.container {
   background-image: radial-gradient(
      circle at top,
      hsl(214, 47%, 23%),
      hsl(237, 49%, 15%)
   );
   padding: 2rem 4rem;
}

// Main
.main {
   // max-width: 13.66rem;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

// Header
.header {
   width: 60%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   border: 2px solid var(--clr-header-outline);
   border-radius: 1rem;
   padding: 1rem 1.5rem;

   &__list {
      display: flex;
      flex-direction: column;
   }

   &__text {
      color: var(--clr-white);
      font-size: 1.5rem;
      line-height: 0.9;
   }

   &__score {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--clr-white);
      border-radius: 0.5rem;
      padding: 1rem 3rem;
   }

   &__h2 {
      color: var(--clr-text-dark);
      font-size: 3.5rem;
   }

   &__h3 {
      color: var(--clr-text-score);
      font-size: 1rem;
      letter-spacing: 0.1rem;
   }
}
